{{ define "main" }}
	{{ if isset .Data "Term" }}
	<h1>Entries tagged - "{{ .Data.Term }}"</h1>
	{{ else }}
	<h1 class="page-title">{{ .Title }}</h1>
	{{ end }}
	<p class="intro">{{ .Description }}</p>
	{{ range .Data.Pages }}
	<section class="list-item">
		{{ if (not (isset .Params "externalurl")) }}
		<h3 class="title"><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h3>
		{{ else }}
		<h3 class="title"><a rel="remote-article" href="{{ .Params.externalurl }}" target="_blank" class="link-out">{{ .Title }}</a></h3>
		{{ end }}
		<p>{{ .Description }}</p>
		<p><a title="Permanent link to '{{ .Title }}'" href="{{ .Permalink }}">Read More →</a></p>
		<div class="meta-sm meta-light">
		{{ if .Draft }}<span class="draft-label">DRAFT</span> • {{ end }}<a class="permalink" title="Permanent link to '{{ .Title }}'" href="{{ .Permalink }}">🔗</a> • {{ dateFormat "Jan 2, 2006" .Date }}
		</div>
	</section>
	{{ end }}
{{ end }}
