<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		<div class="content home-content">
			{{ partial "header.html" . }}
			<section class="home-section">
				<div class="home-header"><h1>Hi! I'm Tony.</h1><img src="{{ .Site.BaseURL }}/img/tony.png" class="headshot" width="200px" height="200px" alt="A headshot of Tony Folenta" /></img></div>
				<p class="intro">I’m a product designer and design manager with over 10 years of experience building websites, apps, design systems, and design teams.</p>
				<p class="intro">I manage the design systems team at <a href="https://technology.kw.com" target="_blank">Keller Williams</a>, building the design systems behind our products that serve over 180,000 agents worldwide.</p>
				<p class="intro">Previously, I was a product design lead at <a href="https://strava.com" target="_blank">Strava</a>, and I started my career as a visual designer at <a href="https://www.odopod.com" target="_blank">Odopod</a>, a product and service design agency in San Francisco. </p>
			</section>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
