@font-face {
  font-family: 'Greycliff';
  src:  url('../fonts/GreycliffCF-Medium.woff2') format('woff2'),
        url('../fonts/GreycliffCF-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff';
  src:  url('../fonts/GreycliffCF-MediumOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF-MediumOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff';
  src:  url('../fonts/GreycliffCF-Bold.woff2') format('woff2'),
        url('../fonts/GreycliffCF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff';
  src:  url('../fonts/GreycliffCF-BoldOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cartograph';
  src:  url('../fonts/CartographCF-Regular.woff2') format('woff2'),
        url('../fonts/CartographCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cartograph';
  src:  url('../fonts/CartographCF-RegularItalic.woff2') format('woff2'),
        url('../fonts/CartographCF-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cartograph';
  src:  url('../fonts/CartographCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/CartographCF-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cartograph';
  src:  url('../fonts/CartographCF-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/CartographCF-ExtraBoldItalic.woff2') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Artifex';
  src:  url('../fonts/ArtifexHandCF-Book.woff2') format('woff2'),
        url('../fonts/ArtifexHandCF-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Artifex';
  src:  url('../fonts/ArtifexHandCF-BookItalic.woff2') format('woff2'),
        url('../fonts/ArtifexHandCF-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Artifex';
  src:  url('../fonts/ArtifexHandCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/ArtifexHandCF-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Artifex';
  src:  url('../fonts/ArtifexHandCF-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/ArtifexHandCF-ExtraBoldItalic.woff2') format('woff');
  font-weight: bold;
  font-style: italic;
}