/* Theme Variables */

:root{
  --pageBackground: #FFFFFF;
  --labelPrimary: #000000;
  --labelSecondary: #666666;
  --actionColor: #5025EE;
  --actionColorHover:#2E15BB;
  --actionColorActive:#7550FF;
  --dividerColor: #EEEEEE;

  --monoFont: 'Cartograph', monospace;
  --sansFont: 'Greycliff', sans-serif;
  --systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  :root{  
    --pageBackground: #111111;
    --labelPrimary: #FFFFFF;
    --labelSecondary: #999999;
    --actionColor: #FF50FF;
    --actionColorHover: #FF90FF;
    --actionColorActive: #E300E3;
    --dividerColor: #333333;
  }
}

/* Foundations */

html, body {
  font-size: 16px;
  font-family: var(--sansFont);
  line-height: 1.6;
  color: var(--labelPrimary);
  background-color: var(--pageBackground);
  /* letter-spacing: -0.02em; */
}

@media screen and (min-width: 480px) {
  html, body {
    font-size: 20px;
  }
}

/* Selections */

::-moz-selection {
  background: var(--actionColorHover);
  color: var(--pageBackground);
  text-shadow: none;
}

::selection {
  background: var(--actionColorHover);
  color: var(--pageBackground);
  text-shadow: none;
}

/* Typography */

p {
  line-height: 1.75;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-family: var(--monoFont);
  font-size: 1rem;
}

h6 {
  font-family: var(--monoFont);
  font-size: 1rem;
  font-style: italic;
}

/* Links */

a:not(.image-link)  {
  color: var(--actionColor);
  border-bottom: 2px solid var(--dividerColor);
  font-weight: bold;
  text-decoration: none;
  transition-property: color, border-bottom, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--labelPrimary);
}

a:not(.image-link):hover {
  color: var(--pageBackground);
  border-bottom: 2px solid var(--actionColorHover);
  background-color: var(--actionColorHover);
}

a:not(.image-link):active {
  color: var(--pageBackground);
  border-bottom: 2px solid var(--actionColorActive);
  background-color: var(--actionColorActive);
}

.permalink {
  border-bottom: none;
}

.link-out {
  font-family: var(--monoFont);
  color: var(--actionColor);
}

/* Containers */

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 1.5rem;
  word-wrap: break-word;
}

/* Structure */

hr {
  border: 0;
  border-top: 4px solid var(--dividerColor);
  margin: 1em 0;
}

blockquote {
  font-family: var(--monoFont);
  font-style: italic;
  font-size: 0.75rem;
  border-left: 4px solid var(--dividerColor);
  color: var(--labelSecondary);
  margin: 2rem 0;
  padding-left: 1.5rem;
}

blockquote em {
  font-style: normal;
}

/* Lists */

li {
  margin: 0.5rem 0;
}

/* Images */

img {
  max-width: 100%;
}

.image-link {
  display: block;
  cursor: zoom-in;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 1rem 0;
  max-width: 100%;
}

figure figcaption {
  font-family: var(--monoFont);
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
  max-width: 28rem;
  margin: 0 auto;
}

/* Code */

code {
  font-family: var(--monoFont);
  background-color: var(--dividerColor);
  color: var(--labelPrimary);
  padding: .1em .2em;
  border-radius: 2px;
}

pre {
  font-family: var(--monoFont);
  background-color: var(--dividerColor);
  color: var(--labelPrimary);
  padding: 1em;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Header & Footer */

header, footer, .pagination {
  font-family: var(--monoFont);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header {
  font-size: 1.25rem;
}

footer {
  font-size: 0.75rem;
}

header a, footer a {
  color: var(--labelPrimary);
  border-bottom: none !important;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
}


/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  font-family: var(--monoFont);
  color: var(--labelSecondary);
}

/* Posts */
/* article .title {
  margin-bottom: 1em;
}   */

/* Meta */

.meta {
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--labelSecondary);
  margin: 2rem 0;
}

.site-description {
display: flex;
justify-content: space-between;
}

/* Tags */

.tags li::before{
  content: "🏷 ";
}

.tags li {
  list-style: none;
  
}

.tags a{
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.draft-label{ 
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  color: var(--labelSecondary);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--dividerColor);
}

/* Case Study Styles */

.work-title {
  font-size: 2rem;
  text-align: center;
}

.work-year {
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  color: var(--labelSecondary);
  font-size: 1rem;
  text-align: center;
}

.work-meta {
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  color: var(--labelSecondary);
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}

/* Tweets */

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}