/* Theme Variables */

:root{
  --pageBackgroundLT: #FFFFFF;
  --labelPrimaryLT: #000000;
  --labelSecondaryLT: #666666;
  --actionColorLT: #5025EE;
  --actionColorHoverLT:#2E15BB;
  --actionColorActiveLT:#7550FF;
  --dividerColorLT: #EEEEEE;

  --pageBackgroundDK: #111111;
  --labelPrimaryDK: #FFFFFF;
  --labelSecondaryDK: #999999;
  --actionColorDK: #FF50FF;
  --actionColorHoverDK: #FF90FF;
  --actionColorActiveDK: #E300E3;
  --dividerColorDK: #333333;
}

/* Foundations */

html {
  /* font-family: 'Cartograph', monospace; */
  font-family: 'Greycliff', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: var(--labelPrimaryLT);
  display: block;
  /* margin: 8px; */
}

/* Selections */

::-moz-selection {
  background: var(--actionColorHoverLT);
  color: var(--pageBackgroundLT);
  text-shadow: none;
}

::selection {
  background: var(--actionColorHoverLT);
  color: var(--pageBackgroundLT);
  text-shadow: none;
}

/* Typography */

p {
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cartograph', monospace;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-style: italic;
}

h1::before { color: var(--actionColorLT); content: '# '; }
h2::before { color: var(--actionColorLT); content: '## '; }
h3::before { color: var(--actionColorLT); content: '### '; }
h4::before { color: var(--actionColorLT); content: '#### '; }
h5::before { color: var(--actionColorLT); content: '##### '; }
h6::before { color: var(--actionColorLT); content: '###### '; }

/* Links */

a {
  color: var(--actionColorLT);
  border-bottom: 2px solid var(--dividerColorLT);
  font-weight: bold;
  text-decoration: none;
  transition-property: color, border-bottom, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--labelPrimaryLT);
}

a:hover {
  color: var(--pageBackgroundLT);
  border-bottom: 2px solid var(--actionColorHoverLT);
  background-color: var(--actionColorHoverLT);
}

a:active {
  color: var(--pageBackgroundLT);
  border-bottom: 2px solid var(--actionColorActiveLT);
  background-color: var(--actionColorActiveLT);
}

.permalink {
  border-bottom: none;
}

/* Structure */

hr {
  border: 0;
  border-top: 4px solid var(--dividerColorLT);
  margin: 1em 0;
}

blockquote {
  font-family: 'Cartograph', monospace;
  border-left: 3px solid var(--dividerColorLT);
  color: var(--labelSecondaryLT);
  margin: 0;
  padding-left: 1em;
}

/* Lists */

ul, ol {
  font-family: 'Greycliff', sans-serif;
}

/* ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul li::before {
  content: '* ';
  font-weight: bold;
  color: var(--actionColorLT);
} */

li {
  margin: 0.25rem 0;
}

/* Images */

img {
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code */

code {
  font-family: 'Cartograph', monospace;
  background-color: var(--dividerColorLT);
  color: var(--labelPrimaryLT);
  padding: .1em .2em;
  border-radius: 2px;
}

pre {
  font-family: 'Cartograph', monospace;
  background-color: var(--dividerColorLT);
  color: var(--labelPrimaryLT);
  padding: 1em;
  border-radius: 4px;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header & Footer */

header, footer {
  font-family: 'Cartograph', monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header {
  font-size: 1.25rem;
}

footer {
  font-size: 0.75rem;
  line-height: 2;
}

header a, footer a {
  color: var(--labelPrimaryLT);
  border-bottom: none;
  padding: 0 2px;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  font-family: 'Cartograph', monospace;
  color: var(--labelSecondaryLT);
}

/* Posts */
article .title {
  margin-bottom: 1em;
}  

/* Meta */

.meta {
  font-family: 'Cartograph', monospace;
  text-transform: uppercase;
  color: var(--labelSecondaryLT);
  margin: 2rem 0;
}

.site-description {
display: flex;
justify-content: space-between;
}

/* Tags */

.tags li::before{
  content: "🏷 ";
}
.tags a{
  font-family: 'Cartograph', monospace;
  border-bottom: 3px solid var(--actionColorLT); 
}
.tags a:hover{
  color:white;
  background-color: var(--actionColorHoverLT); 
}


.draft-label{ 
  font-family: 'Cartograph', monospace;
  color: var(--labelSecondaryLT);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--dividerColorLT);
}

/* Highlights */

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
  color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

