/* Theme Variables */

:root{
  --pageBackgroundLT: #FFFFFF;
  --labelPrimaryLT: #000000;
  --labelSecondaryLT: #666666;
  --actionColorLT: #5025EE;
  --actionColorHoverLT:#2E15BB;
  --actionColorActiveLT:#7550FF;
  --dividerColorLT: #EEEEEE;

  --pageBackgroundDK: #111111;
  --labelPrimaryDK: #FFFFFF;
  --labelSecondaryDK: #999999;
  --actionColorDK: #FF50FF;
  --actionColorHoverDK: #FF90FF;
  --actionColorActiveDK: #E300E3;
  --dividerColorDK: #333333;

  --monoFont: 'Cartograph', monospace;
  --sansFont: 'Greycliff', sans-serif;
}

/* Foundations */

html, body {
  font-size: 16px;
  font-family: var(--sansFont);
  line-height: 1.5;
  color: var(--labelPrimaryLT);
}

@media screen and (min-width: 480px) {
  html, body {
    font-size: 20px;
  }
}

/* Selections */

::-moz-selection {
  background: var(--actionColorHoverLT);
  color: var(--pageBackgroundLT);
  text-shadow: none;
}

::selection {
  background: var(--actionColorHoverLT);
  color: var(--pageBackgroundLT);
  text-shadow: none;
}

/* Typography */

p {
  line-height: 1.75;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-family: var(--monoFont);
  font-size: 1rem;
}

h6 {
  font-family: var(--monoFont);
  font-size: 1rem;
  font-style: italic;
}


/* h1::before { color: var(--actionColorLT); content: '# '; } */
/* h2::before { color: var(--actionColorLT); content: '## '; } */
/* h3::before { color: var(--actionColorLT); content: '### '; } */
/* h4::before { color: var(--actionColorLT); content: '#### '; } */
/* h5::before { color: var(--actionColorLT); content: '##### '; } */
/* h6::before { color: var(--actionColorLT); content: '###### '; } */

/* Links */

a {
  color: var(--actionColorLT);
  border-bottom: 2px solid var(--dividerColorLT);
  font-weight: bold;
  text-decoration: none;
  transition-property: color, border-bottom, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--labelPrimaryLT);
}

a:hover {
  color: var(--pageBackgroundLT);
  border-bottom: 2px solid var(--actionColorHoverLT);
  background-color: var(--actionColorHoverLT);
}

a:active {
  color: var(--pageBackgroundLT);
  border-bottom: 2px solid var(--actionColorActiveLT);
  background-color: var(--actionColorActiveLT);
}

.permalink {
  border-bottom: none;
}

/* Containers */

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1rem;
  word-wrap: break-word;
}

/* Structure */

hr {
  border: 0;
  border-top: 4px solid var(--dividerColorLT);
  margin: 1em 0;
}

blockquote {
  font-family: var(--monoFont);
  border-left: 3px solid var(--dividerColorLT);
  color: var(--labelSecondaryLT);
  margin: 0;
  padding-left: 1em;
}

/* Lists */

li {
  margin: 0.5rem 0;
}

/* Images */

img {
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code */

code {
  font-family: var(--monoFont);
  background-color: var(--dividerColorLT);
  color: var(--labelPrimaryLT);
  padding: .1em .2em;
  border-radius: 2px;
}

pre {
  font-family: var(--monoFont);
  background-color: var(--dividerColorLT);
  color: var(--labelPrimaryLT);
  padding: 1em;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Header & Footer */

header, footer {
  font-family: var(--monoFont);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header {
  font-size: 1.25rem;
}

footer {
  font-size: 0.75rem;
}

header a, footer a {
  color: var(--labelPrimaryLT);
  border-bottom: none !important;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  font-family: var(--monoFont);
  color: var(--labelSecondaryLT);
}

/* Posts */
/* article .title {
  margin-bottom: 1em;
}   */

/* Meta */

.meta {
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--labelSecondaryLT);
  margin: 2rem 0;
}

.site-description {
display: flex;
justify-content: space-between;
}

/* Tags */

.tags li::before{
  content: "🏷 ";
}

.tags li {
  list-style: none;
  
}

.tags a{
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.draft-label{ 
  font-family: var(--monoFont);
  letter-spacing: 0.1em;
  color: var(--labelSecondaryLT);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--dividerColorLT);
}
