<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }}</title>
	{{- else -}}
	<title>{{ $title }} — {{ $siteTitle }}</title>
	{{- end -}}
	<meta name="description" content="{{ .Params.description }}">

	<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}icons/favicon.ico">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <meta property="og:description" content="{{ .Params.description }}" /> -->
	<!-- <meta name="twitter:description" content="{{ .Params.description }}" /> -->

	<!-- <meta property="og:title" content="{{ $title }} | {{ $siteTitle }}" /> -->
	<!-- <meta name="twitter:title" content="{{ $title }} | {{ $siteTitle }}" /> -->

	<!-- <meta property="og:image" content="{{ .Site.Params.og_image }}"/> -->
	<!-- <meta itemprop="name" content="{{ $title }} | {{ $siteTitle }}" /> -->
	<!-- <meta name="application-name" content="{{ $title }} | {{ $siteTitle }}" /> -->
	<!-- <meta property="og:site_name" content="{{ .Site.Params.sitename }}" /> -->
	
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css" >
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css" >
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css"  type="text/css" media="screen">
	
	<!-- Custom CSS style get applied last -->
	{{- if isset .Site.Params "customcss" }}
		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" type="text/css" ref="{{ . | relURL }}">
		{{ end }}
	{{- end -}}
	
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
</head>
